
*.csv
*.xlsx
*.txt
low_gas_vehicle/address/202210_주소DB_전체분/\[가이드\]주소DB 활용방법.pdf
*.zip
car_big_data_2/analysis2/4등급_데이터_점검/G3/\[샘플\]3등급_배출가스인증번호별_등록&제원정보.z01
car_big_data_2/analysis2/4등급_데이터_점검/G3/\[샘플\]3등급_배출가스인증번호별_등록&제원정보.z02
*.z01
*.z02
*.npz
*.png
